psycopg2-binary
asyncpg
pgvector
openai
python-dotenv
biopython 
langchain-text-splitters 
tiktoken 
tqdm
cohere
langchain-cohere
langchain
langchain-openai
langchain-core
mcp
mcp[cli]
pandas
openpyxl
fastapi
uvicorn
streamlit
requests